[AutoLearnSkills]

# Enable or disable the module
AutoLearnSkills.Enable = 1

# Automatically learn class-appropriate weapon skills
AutoLearnSkills.AutoLearnWeaponSkills = 1

# Automatically max weapon skill values when learned
AutoLearnSkills.MaxWeaponSkills = 1

# Automatically learn riding skills
AutoLearnSkills.AutoLearnRiding = 1

# Learn Apprentice riding and grant apprentice ground mount (20)
AutoLearnSkills.Riding.Apprentice = 1
AutoLearnSkills.Riding.GrantApprenticeMount = 1

# Learn Journeyman riding and grant journeyman ground mount (40)
AutoLearnSkills.Riding.Journeyman = 0
AutoLearnSkills.Riding.GrantJourneymanMount = 0

# Learn higher riding ranks and grant expert flying mount (60)
AutoLearnSkills.Riding.Expert = 0
AutoLearnSkills.Riding.GrantExpertMount = 0

# Learn artisan riding and grant artisan flying mount (70)
AutoLearnSkills.Riding.Artisan = 0
AutoLearnSkills.Riding.GrantArtisanMount = 0

# Learn Cold Weather riding automatically (77)
AutoLearnSkills.Riding.ColdWeather = 0
